header {
  background-color: #b3d7db;
  border-bottom: 2px solid rgba(163, 160, 160, 0.973);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-top: 2%;
  max-height: 10rem;
}

header .textbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50%;
  max-width: 55%;
  min-height: 10%;
  margin-bottom: 5%;
  margin-right: 5%;
  background-color: rgba(34, 14, 4, 0.932);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 6px solid whitesmoke;
}

header .textbox p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .textbox .close {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  max-height: 1rem;
  max-width: 1rem;
}

#nav {
  position: absolute;
  left: 15%;
  top: 8%;
  padding-top: 1rem;
  max-width: 2rem;
  height: 2rem;
}

#pcImg {
  position: absolute;
  left: 15%;
  top: 10%;
  border-radius: 50%;
  max-width: 8rem;
  max-height: 8rem;
  min-width: 6rem;
  min-height: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  border: 6px solid brown;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#myRange {
  -webkit-appearance: none;
  width: 60%;
  height: 1.5rem;
  border-radius: 6rem;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  margin-top: 6rem;
  margin-bottom: 4rem;
  border: 0.5rem solid aquamarine;
  background-color: #0dc5b6;
}

#myRange:hover {
  opacity: 1;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6rem;
  height: 6rem;
  background-image: url(Assets/icon/emoticon-happy.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: url(Assets/icon/emoticon-happy.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.glider-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outfits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 70%;
  padding-top: 10%;
  padding-bottom: 30%;
  margin-bottom: 10%;
  margin: 0;
}

.glider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#topItem {
  position: absolute;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  min-height: 50rem;
  min-width: 60%;
}

#topItem .item__img {
  height: 60%;
  max-width: 100%;
  padding-top: 0;
}

#topItem .item__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#topItem .item__buttons > * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  min-width: 36%;
  min-height: 4.5rem;
  height: 30%;
  border: 0.2rem solid white;
  border-radius: 8px;
  margin: 0 0.5rem;
}

#topItem .item__buttons #save {
  background-color: #0dc5b6;
  color: white;
}

#topItem .item__buttons #cancel {
  background-color: rgba(247, 161, 91, 0.904);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: brown;
  margin: 0 2.5%;
  max-width: 40%;
  max-height: 30%;
  border-radius: 18px;
}

.item > * {
  max-width: 90%;
}

.item__img {
  width: 90%;
  height: 50%;
  padding-top: 5px;
  padding-bottom: 1.5rem;
}

.item__ratings {
  min-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 2rem;
}

.item__ratings > * {
  width: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  height: 1.5rem;
}

.item__buttons {
  display: none;
}

footer {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0dc5b6;
  min-width: 33%;
  max-height: 80%;
}

footer .selected {
  height: 100%;
  background-color: #aee9ee;
}

.empty_container {
  width: 100%;
  height: 2rem;
  background: #dffcfc;
  border-bottom: 0.5rem solid #b1fcfc;
}
/*# sourceMappingURL=UILayout.css.map */